.place-order-form{
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 40%;
    padding: 20px;
}
.order-input{
    margin: 10px;
}

.place-order h2{
    margin: 30px;
}
.place-order-btn{
    margin: 30px;
    background-color: tomato;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 10px;
}